certifi==2022.12.7
chardet==4.0.0
click==8.0.1
Flask==2.2.5
idna==2.10
infoblox-netmri==3.8.0.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
PyYAML==5.4.1
requests==2.31.0
urllib3==1.26.5
Werkzeug>=2.2.3
